<sidebar>
	<div class="play">
	<div class="backdrop-image" style="background-image:url('http://image.tmdb.org/t/p/original<%= @film.backdrop_path %>');"></div>

	<div class="movie-detail">
	  <div class="closer">
	    <%= link_to root_url do %>
	      <%= image_tag "close.svg", :size => '50' %>
	    <% end %>
	  </div>
	  <div class="poster-cont">
	    <div class="poster-inner">
	      <div class="poster">
	        <img class="big-poster" src="http://image.tmdb.org/t/p/w500<%= @film.poster_path %>" alt="<%= @film.title %>" />
	      </div>
	    </div>
	  </div>
	  <div class="side-content">
	    <div class="title">
	      <h2><%=@film.title%></h2>

	      <ul class="movie-quick-info">
	        <li>
	          <%= @film.release_date[0,4]%>
	        </li>
	        <li>
	            <span class="duration"><%=@film.runtime%> min</span>
	        </li>
	      </ul>
	    </div>
	    <p style="padding-bottom:5px;"><%=@film.overview%></p>
	    <%= render 'form' %>
	  </div>
	</div>
	</div>
</sidebar>
