<sidebar>
	<div class="play">
	<div class="backdrop-image" style="background-image:url('http://image.tmdb.org/t/p/original<%= @film.backdrop_path %>');"></div>

	<div class="movie-detail">
	  <div class="closer">
	    <%= link_to movies_path do %>
	      <%= image_tag "close.svg", :size => '50' %>
	    <% end %>
	  </div>
	  <div class="poster-cont">
	    <div class="poster-inner">
	      <div class="poster">
	        <img class="big-poster" src="http://image.tmdb.org/t/p/w500<%= @film.poster_path %>" alt="<%= @film.title %>" />
	      </div>
	    </div>
	  </div>
	  <div class="side-content">
	    <div class="title">
	      <h2><%=@film.title%></h2>

	      <ul class="movie-quick-info">
	        <li>
	          <%= @film.release_date[0,4]%>
	        </li>
	        <li>
	            <span class="duration"><%=@film.runtime%> min</span>
	        </li>
	      </ul>
	      <div class="rating">
                <ul class="votes" title="<%= @movie.rating %> / 5">
                  <% for i in 1..@movie.rating.floor %>
                    <i class="fa fa-star"></i>
                  <% end %>
                  <% if (@movie.rating % 1 > 0) %>
                    <i class="fa fa-star-half-o"></i>
                  <% end %>
                  <% for i in @movie.rating.ceil..4 %>
                    <i class="fa fa-star-o"></i>
                  <% end %>
                </ul>
           </div>
	    </div>
	    <p><%=@film.overview%></p>
	    <%= link_to 'Change My Rating', edit_movie_path(@movie), :class => "p_tooltip play-button", :style=>"padding: 14px 26px;" %>
	    <p style="color:#2ecc71;"id="notice"><%= notice %></p>
	  </div>
	</div>
	</div>
</sidebar>

